:root{
    --color-primary: #008B91;
    --color-secondary: #6EADA7;
    --color-strong: #0F5C60;
    --color-light: #BBE5E1;
    --color-gray: #737373;
}

*{
    font-family: 'Montserrat', sans-serif;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #88888838; 
}

::-webkit-scrollbar-thumb:hover {
    background: #5555557c; 
}

main{
    display: flex;
    flex-direction: column;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-secondary);
}

.main-section-home{
    position: relative;
    width: fit-content;
}

.main-section-home .circuit-home{
    position: absolute;
    left: -175px;
    top: 11px;
    width: 580px;
}

.main-section-home .background-home{
    margin-left: 44px;
    width: 676px;
}

.title-home{
    color: white;
    font-size: 42px;
    width: 640px;
    margin: 0;
}

.text-home{
    color: white;
    font-size: 24px;
    width: 532px;
    margin: 0;
    margin-top: 16px;
    font-weight: 500;
}

.calculator-home{
    width: 50px;
}

.calculate-home{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.calculate-home:hover{
    background-color: var(--color-strong);
    transition: .3s;
    color: white;
    opacity: .4;
}

.budget-home{
    height: 50px;
    display: flex;
    gap: 1rem;
    margin-top: 32px;
}

aside{
    display: flex;
    flex-direction: column;
}

header{ 
    background-color: var(--color-secondary); 
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    color: white;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 23px;
    font-weight: bold;
}

.client{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color: black
}

.client:hover{
    background-color: var(--color-strong);
    transition: .3s;
    color: white;
    opacity: .4;
}


.pipeline{
    color: var(--color-strong);
    font-size: 32px;
}

.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.2s linear;
}

a:hover{
    color: var(--color-strong);
    transition: .3s;
}

.aside-navbar{
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    
}

.arrow{
    width: 50px;
}

.aside-navbar:hover{
    transition: all .4s;
    opacity: 0.7;
}

.about{
    display: flex;
    gap: 10px;
}


.content-about{
    display: flex;
    flex-direction: column;
    padding: 82px;
}

.text-about{
    font-weight: 500;
    text-align: justify;
    font-size: 24px;
}

.title-about{
    color: var(--color-strong);
    font-size: 41px;
    margin: 0;
}

.circuit-about{
    position: absolute;
    left: -175px;
}